body {
  background: url("../images/backgrounds/wood.jpg") center center no-repeat fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  background: #17733a;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  color: #fff;
  min-height: 60px;
  width: 100%;
  z-index: 6;
}
footer p {
  text-align: center;
}
footer a {
  color: #ffd914 !important;
}
footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-center {
  bottom: 0;
  display: inline-block;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.login-box {
  background: rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 2em;
  padding-top: 3em;
  position: relative;
}
.logo {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: -100px;
  z-index: 3;
}
.btn {
  display: block !important;
  margin-top: 1em;
  width: 100% !important;
}
.input-group {
  margin-bottom: 0.5em;
}
.separator-fix-footer {
  flex: 1 0 auto;
}
@media (max-width: 991px) {
  .center-center {
    display: block !important;
    height: initial !important;
    position: initial !important;
  }
  .logo {
    margin-bottom: 1em;
    position: relative;
    top: 0;
  }
  .login-box {
    background: none;
  }
}
