sombra = 0 0 5px rgba(black, .26)

nav
	background white
	position relative
	height 65px
	box-shadow 0 0 8px rgba(black, .26)

body
	background #eee
	display flex
	min-height 100vh
	flex-direction column
	
footer
	color white
	background #17733A
	width 100%
	min-height 60px
	box-shadow 0 0 15px rgba(black, .4)
	
	p
		text-align center
	
	a
		color #FFD914 !important
	img
		display block
		margin-left auto
		margin-right auto
		margin-top .5em
		margin-bottom .5em

.separator-fix-footer
	flex 1 0 auto
	
.logo
	margin-right auto
	margin-left auto
	position absolute
	left 0
	right 0

.space
	margin-top 100px
	
.category-choose
	margin-bottom 10px
	height auto
	margin-bottom 1em
	position relative
	

.image-category
	width 100%
	background url('../images/banners/3fbef54e0b946103d3b0bea136304ce9.png') center center fixed no-repeat
	background-size cover
	height 160px

.name-category
	background #D42027
	color white
	
	ul
		li
			color white
			border-radius 5px
			margin 5px
			padding 10px
			display inline-block
			background darken(#BA1C22, 20%)
			transition .8s box-shadow, .8s background 

			&:hover
				box-shadow 0 0 15px rgba(black, .36)
				background lighten(#BA1C22, 25%)
			a
				color white
				
				&:hover
					text-decoration none
					
.elements
	div
		margin 0 !important
		padding-bottom .5em
		padding-top .5em
	
	.type
		background white
		margin-bottom 1em
		border-radius 5px
		transition 1s box-shadow ease
		
		&:hover
			box-shadow 0 0 15px rgba(black, .3)
	
.choose
	margin-left auto
	margin-right auto
	border-radius 5px
	display block
	transition 0.8s box-shadow
	
	&:hover
		box-shadow 0 0 10px rgba(black, .4)

.text-choose
	left 2em
	position absolute
	color white
	text-shadow 0 0 3px rgba(black, .7)
	z-index 3

.toppings
	background white

.head-build
	background #b2b2b2

.counter-price
	background white
	border-radius 5px
	box-shadow 0 0 2px rgba(black, .26)

.list-cart
	border-radius 5px
	margin-bottom 50px

.btn-lg
	font-size 2em
	display block
	padding-top 1em
	padding-bottom 1em
	
.actions-cart
	div
		margin-bottom 1em

.btn-cart
	float right
	margin-top 1em

.btn-infosite
	margin-top 1em
	
.title
	color #fff
	text-shadow 0 0 5px rgba(black, .5)