nav {
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.26);
  height: 65px;
  position: relative;
}
body {
  background: #eee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  background: #17733a;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  color: #fff;
  min-height: 60px;
  width: 100%;
}
footer p {
  text-align: center;
}
footer a {
  color: #ffd914 !important;
}
footer img {
  display: block;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}
.separator-fix-footer {
  flex: 1 0 auto;
}
.logo {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
}
.space {
  margin-top: 100px;
}
.category-choose {
  height: auto;
  margin-bottom: 10px;
  margin-bottom: 1em;
  position: relative;
}
.image-category {
  background: url("../images/banners/3fbef54e0b946103d3b0bea136304ce9.png") center center fixed no-repeat;
  background-size: cover;
  height: 160px;
  width: 100%;
}
.name-category {
  background: #d42027;
  color: #fff;
}
.name-category ul li {
  background: #95161b;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  transition: 0.8s box-shadow, 0.8s background;
}
.name-category ul li:hover {
  background: #e23e44;
  box-shadow: 0 0 15px rgba(0,0,0,0.36);
}
.name-category ul li a {
  color: #fff;
}
.name-category ul li a:hover {
  text-decoration: none;
}
.elements div {
  margin: 0 !important;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.elements .type {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 1em;
  transition: 1s box-shadow ease;
}
.elements .type:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.choose {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.8s box-shadow;
}
.choose:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.text-choose {
  color: #fff;
  left: 2em;
  position: absolute;
  text-shadow: 0 0 3px rgba(0,0,0,0.7);
  z-index: 3;
}
.toppings {
  background: #fff;
}
.head-build {
  background: #b2b2b2;
}
.counter-price {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.26);
}
.list-cart {
  border-radius: 5px;
  margin-bottom: 50px;
}
.btn-lg {
  display: block;
  font-size: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}
.actions-cart div {
  margin-bottom: 1em;
}
.btn-cart {
  float: right;
  margin-top: 1em;
}
.btn-infosite {
  margin-top: 1em;
}
.title {
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
