body
	background url('../images/backgrounds/5.jpg') center center no-repeat fixed
	background-size cover
	display flex
	min-height 100vh
	flex-direction column
    
footer
	color white
	background rgba(110, 40, 37, 0.56)
	width 100%
	height 60px
	box-shadow 0 0 15px rgba(black, .4)
	
	p
		text-align center


.selections
	margin-top 15%

.orange-box
	background orange
	
.blue-box
	background #2E7BDC

.logo
	display block
	margin-left auto
	margin-right auto

.selection
	position relative
	border-radius 5px
	color white
	text-shadow 0 0 2px rgba(black, .26)
	transition .8s box-shadow
	
	&:hover
		box-shadow 0 0 15px rgba(black, .9)
		z-index 2
		
.separator-fix-footer
	flex 1 0 auto
	




.logo-login
	z-index 5
	display block
	position absolute
	margin-left auto
	margin-right auto
	left 0
	right 0
	top -50px


.login-box
	box-shadow 0 0 10px rgba(black, .3)
	padding-top 9em
	padding-bottom 2em
	border-radius 5px
	background rgba(black, .6)

	.row
		margin 0
	
.input-group
	margin-bottom 10px
	
.selections
	.row
		margin-bottom 50px
		.btn
			display block
			margin-bottom 10px
			width 80%
			margin-left auto
			margin-right auto