body {
  background: url("../images/backgrounds/5.jpg") center center no-repeat fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  background: #17733a;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  color: #fff;
  min-height: 60px;
  width: 100%;
  z-index: 6;
}
footer p {
  text-align: center;
}
footer a {
  color: #ffd914 !important;
}
footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-center {
  bottom: 0;
  display: inline-block;
  height: 200px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.center-center .box {
  margin: 0 !important;
}
.orange-box {
  background: #ffa500;
}
.blue-box {
  background: #2e7bdc;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box-type {
  border-radius: 5px;
  color: #fff;
  margin-bottom: 1em;
  padding: 0.5em;
  position: relative;
  text-shadow: 0 0 2px rgba(0,0,0,0.26);
  transition: 0.8s box-shadow;
}
.box-type:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.9);
  z-index: 2;
}
.box-type img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box-type h2 {
  text-align: center;
}
.separator-fix-footer {
  flex: 1 0 auto;
}
@media (max-width: 991px) {
  .center-center {
    display: block !important;
    height: initial !important;
    position: initial !important;
  }
}
